<h2>도서 추가하기</h2>

<form name="book" class="" action="/books" method="post">
    <fieldset>
        <legend>도서 추가하기</legend>
        <label for="title">제목</label>
        <input id="title" type="text" name="title">

        <label for="author">저자</label>
        <input id="author" type="text" name="author">

        <label for="author">일시</label>
        <input id="author" type="datetime" name="published_date">

        <input type="submit" name="" value="추가">
    </fieldset>
</form>
